extends base.pug
block scripts   
    scripts(src = '/static/index.js') 
block styles
    style 
        include ../static/style.css
        include ../static/aboutusstyle.css

block content
        section.two 
        h1 HELLO
