doctype html 
html    
    head    
        title This is New 
        block scripts 
        block styles
    body 
        nav#navbar 
            ul#navigation
                li #[a(href = '/') Home]
                li #[a(href = '/aboutus') About Us]
                li #[a(href = '/') Service]
                li #[a(href = '/') Class info] 
                li #[a(href = '/contact') Contact Us]
        block content
        block foot
             #sectionfooter Estd. Since-2013 DanceClass &copy;Dansation-A DanceStudio2017